.quicksand-font {
  font-family: "Quicksand", serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}

/* ---------------share style part-------------- */

.color-primary {
  color: rgb(254, 163, 1);
}

.color-secondary {
  color: rgb(1, 172, 253);
}

.color-tertiary {
  color: rgb(93, 88, 239);
}

.bg-primary {
  background-color: rgb(149, 178, 38);
}
.bg-secondary {
  background-color: rgb(93, 88, 240);
}
.bg-tertiary {
  background-color: rgb(60, 216, 232);
}

.btn-primary {
  padding: 10px 40px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: rgb(254, 163, 1);
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.btn-primary:hover {
  background-color: rgb(1, 172, 253);
}

.btn-secondary {
  padding: 10px 40px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: rgb(17, 17, 17);
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.btn-secondary:hover {
  background-color: rgb(254, 163, 1);
}

section {
  padding: 60px 0;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 60px;
}

/* ---------------header style part-------------- */

/* nav style part */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-title {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(17, 17, 17);
}

.nav-link ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-link a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.side-bar {
  display: none;
  font-size: 30px;
}

/* banner style part */

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.banner-title {
  font-size: 3rem;
}

.banner-discription {
  margin: 25px 0;
}

.banner img {
  width: 100%;
}

.banner div {
  flex: 1;
}

/* ---------------main style part-------------- */

/* Standard Curriculum-section */
.Curriculum-section {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  object-fit: cover;
}

.curriculum-container {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards a {
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}

.cards a:hover {
  color: #ff0000;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 0;
}

.card-discription {
  margin-bottom: 30px;
  line-height: 1.8rem;
  color: rgb(128, 128, 128);
}

.card-1 {
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-2 {
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-3 {
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.card-1,
.card-2,
.card-3 {
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.arrows {
  margin-top: 60px;
}

.arrow-btn {
  background-color: rgb(254, 163, 1);
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
}

/* -----Stories section------ */

.stories-section {
  background: url(../images/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.story-section-container {
  max-width: 1200px;
  margin: 0 auto;
}

.stories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: left;
}

.highlight-card {
  grid-row: span 2;
  background-color: #ffffff;
  border-radius: 10px;
}

.story-discription {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(102, 102, 102);
  line-height: 1.85rem;
}

.highlight-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.story-card {
  background-color: #ffffff;
  border-radius: 10px;
}

.story-content {
  padding: 10px 30px 30px 30px;
}

.story-content h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
}

.highlight-card h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 30px 50px 0px;
}

.story-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.date {
  padding: 10px 15px;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 30px;
  display: inline-block;
  top: -35px;
  position: relative;
}

.story-btn {
  margin-top: 60px;
}

marquee {
  background-color: #ffffff;
  color: rgba(154, 20, 198, 0.782);
  font-weight: 600;
}

/* ---------------footer style part-------------- */
footer {
  background-color: rgb(1, 172, 253);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 40px;
  padding: 100px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  margin-bottom: 40px;
}

.footer-discription {
  color: rgb(255, 255, 255);
}

.contact-link {
  padding-left: 150px;
}

.contact-link h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

.contact-link ul li {
  list-style: none;
  margin-bottom: 20px;
}
.contact-link a {
  text-decoration: none;
  color: #ffffff;
}

.social-contact {
  padding-left: 150px;
}

.social-contact h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

.social-logo a {
  color: #ffffff;
  font-size: 1.25rem;
  margin-right: 10px;
}

/* -----------Small device-------------- */

@media only screen and (max-width: 576px) {
  /*----- header section ----*/

  /* nav part */
  .nav-container {
    padding: 10px 25px;
    border-bottom: 1px solid orange;
  }
  .nav-propartise {
    display: none;
  }

  .side-bar {
    display: block;
  }

  /* banner part */
  .banner {
    flex-direction: column-reverse;
    padding: 20px;
    text-align: center;
  }

  .banner-title {
    font-size: 2.25rem;
  }

  /* ------main section -----*/

  /* curriculam section */
  .curriculum-container {
    padding: 0px 20px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-1,
  .card-2,
  .card-3 {
    padding: 20px 60px;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .arrows {
    display: none;
  }

  /* stories section */

  .story-section-container {
    padding: 0px 20px;
  }

  .highlight-card {
    display: none;
  }

  .stories-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .date {
    padding: 8px 14px;
    font-size: 0.6rem;
    top: -30px;
  }

  .story-content h4 {
    font-size: 0.647rem;
    line-height: 1.25rem;
  }

  /* --------footer section----------- */

  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 70px 20px;
  }

  .contact-link {
    padding-left: 0px;
  }

  .social-contact {
    padding-left: 0px;
  }
}
