.quicksand-font {
  font-family: "Quicksand", serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* ---------------share style part-------------- */

.color-primary {
  color: rgb(254, 163, 1);
}

.color-secondary {
  color: rgb(1, 172, 253);
}

.color-tertiary {
  color: rgb(93, 88, 239);
}

.btn-primary {
  padding: 10px 40px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: rgb(254, 163, 1);
  color: white;
  cursor: pointer;
}

.btn-secondary {
  padding: 10px 40px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: rgb(17, 17, 17);
  color: white;
  cursor: pointer;
}

/* ---------------header style part-------------- */

/* nav style part */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-title {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(17, 17, 17);
}

.nav-link ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-link a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.side-bar {
  display: none;
  font-size: 30px;
}

/* banner style part */

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.banner-title {
  font-size: 3rem;
}

.banner-discription {
  margin: 25px 0;
}

.banner img {
  width: 100%;
}

.banner div {
  flex: 1;
}

/* ---------------main style part-------------- */

/* ---------------footer style part-------------- */

/* -----------Small device-------------- */

@media only screen and (max-width: 576px) {
  .nav-container {
    padding: 10px 25px;
    border-bottom: 1px solid orange;
  }
  .nav-propartise {
    display: none;
  }

  .side-bar {
    display: block;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 40px;
    text-align: center;
  }

  .banner-title {
    font-size: 2.25rem;
  }
}
